.navbar {
    
    background: #c042d1;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #1abc9c;
}
